## Settings file was created by plugin HerobrineMod v1.2.10
## Plugin GUID: Kittenji.HerobrineMod

[Configuration]

## By default Herobrine is it's own entity can spawn separated from the Ghost Girl entity so both of them can exist in the game.
## Set this value to 'true' if you want the Ghost Girl to be removed from the game.
## (default = false)
# Setting type: Boolean
# Default value: false
Replace Ghost Girl = false

## Attempts to multiply the spawn rate for this entity on Minecraft moons.
## (default = 5)
# Setting type: Int32
# Default value: 5
Minecraft Moon Multiplier = 5

[Minecraft Skin]

## This entity will try to find your minecraft skin using your display name in game.
## This value controls the chance for this to happen.
## (default = 25)
# Setting type: Int32
# Default value: 25
Use Player Skin Chance = 0

## Overrides the Minecraft username used to find and download your minecraft skin. Use this if your Steam username doesn't match your Minecraft username.
# Setting type: String
# Default value: 
Minecraft Username Override = 

[Spawn Rarity Per Risk Level]

## Spawn rarity for moons with a Risk Level of 'D'
# Setting type: Int32
# Default value: 5
Risk Level D = 12

## Spawn rarity for moons with a Risk Level of 'C'
# Setting type: Int32
# Default value: 12
Risk Level C = 15

## Spawn rarity for moons with a Risk Level of 'B'
# Setting type: Int32
# Default value: 30
Risk Level B = 30

## Spawn rarity for moons with a Risk Level of 'A'
# Setting type: Int32
# Default value: 40
Risk Level A = 40

## Spawn rarity for moons with a Risk Level of 'S'
# Setting type: Int32
# Default value: 55
Risk Level S = 55

## Spawn rarity for moons with a Risk Level of 'S+'
# Setting type: Int32
# Default value: 60
Risk Level S+ = 60

## Spawn rarity for modded moons with a Risk Level of 'SSS'.
# Setting type: Int32
# Default value: 80
Risk Level SSS = 80

## Spawn rarity for moons with an unkown Risk Level or any other Risk Level.
# Setting type: Int32
# Default value: 24
Risk Level Other = 24

